
.nav-bar {
  padding: 5px 20px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizza-controls-overlay {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pizza-controls-overlay p {
  margin: 0;
  font-size: 1.2rem;  
}

.pizza-controls-overlay button {
  background-color: #f50000;
  color: #fff;
  border: none;
  padding: 0px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.main-layout {
  display: flex;
  height: calc(100vh - 60px);
}

.pizza-area {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizza-wrapper {
  position: relative;
  width: 900px;
  height: 900px;
}

.pizza-frame {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#toppings-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.topping {
  position: absolute;
  width: 60px;
  height: 60px;
  animation: drop 0.5s ease, spin 1s ease-in-out infinite alternate;
}

@keyframes drop {
  0% { transform: translateY(-200px) scale(0.3); opacity: 0; }
  100% { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes spin {
  from { transform: rotate(-10deg); }
  to { transform: rotate(10deg); }
}

.topping-sidebar {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.topping-sidebar h3 {
  text-align: center;
  
}

.topping-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
}

.card {
  flex: 1 1 calc(33.333% - 20px); /* 3 per row, minus the gap */
  background: #333;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 6px 6px 9px rgba(255, 0, 0, 0.5);
  
}


@media (max-width: 768px) {
  .card {
    width: calc(30% - 10px);
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.card img {
  width: 100px;
  height: 100px;
}

.card h3, .card h4 {
  margin: 2px 0;
}

.toggle-btn {
  margin-top: 10px;
  background: #28a745;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-btn.remove {
  background-color: #dc3545;
}


.fixed-cart {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

#checkoutButton {
  background-color: #e4002b;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checkoutButton:hover {
  background-color: #ff0033;
}
